<div class="container">
  <h1>Login</h1>
  <form class="was-validated">
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter your email"
        required
      />
      <div class="valid-feedback">valid.</div>
      <div class="invalid-feedback">please fill out this with @ and .com.</div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter your password"
        required
      />
      <div class="valid-feedback">valid.</div>
      <div class="invalid-feedback">please fill out this field.</div>
    </div>
    <button class="btn btn-success mr-2" type="submit">Submit</button>
    <button class="btn btn-danger mr-2" type="reset">Reset</button>
    <a href="#" class="btn btn-primary" type="submit">Forgot Password</a>
  </form>
</div>
