.container {
  width: 500px;
  height: 65vh;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5), -5px -5px 5px rgba(0, 0, 0, 0.5);
  margin-top: 100px;
  border-radius: 10px;
}
h1 {
  text-align: center;
}
